/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Bitter', serif;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
}
div.container {
  width: 100%;
  overflow-x: hidden;
}
/* Button */
.button {
  background-color: #6C72FF;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
a.btn-signup {
  background-color: #FFAE66;
  border: #E6E6E6;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
header {
  height: 60px;
  background-color: #6C72FF;
}
header nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
  margin-left: 50%;
}
header nav a {
  color: #E6E6E6;
  text-decoration: none;
}
header a.btn-login {
  background-color: #E6E6E6;
  border: #E6E6E6;
  color: #6C72FF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
section.header-banner {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  text-align: left;
  overflow-x: hidden;
  height: 100vh;
}
section.header-banner img.logo {
  width: 200px;
  padding: 40px 40px 40px 0;
}
section.header-banner div.content-left {
  margin: 0 auto;
  padding: 40px 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
section.header-banner img.how-to-header-img {
  margin: 0 auto;
  width: 50%;
  object-fit: cover;
}
section.header-banner .explore {
  font-size: 30px;
  color: #6C72FF;
  font-weight: bold;
  text-decoration: none;
}
.tooltip {
  position: relative;
  display: inline-block;
  border: none;
}
.tooltip a {
  text-decoration-style: dashed;
  text-decoration-color: #FFAE66;
  color: #131313;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  font-size: 14px;
  background-color: transparent;
  color: #131313;
  display: flex;
  justify-content: center;
  font-style: italic;
  font-family: cursive;
  border-radius: 6px;
  padding: 5px 0;


  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
section#second {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  text-align: right;
  overflow-x: hidden;
  height: 693px;
  background-image: linear-gradient(to bottom right, #6C72FF, #FFAE66);
}
footer {
  height: 60px;
  background-color: #6C72FF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tabs-container {
  width: 40%;
  height: 693px;
}
.tabs-container .topics {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.tabs-container .topics .tab {
  width: 50%;
  color: black;
  background-color: transparent;
  font-size: 15px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.tabs-container .topics .tab:hover {
  color: white;
}
.tabs-container .topics .active-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6E6E6;
  font-size: 20px ;
  border: none;
  height: 40px;
}

/*About*/
.row {
  line-height: 2rem;
  justify-content: center;
}
.row .logo {
  width: 200px;
  padding: 40px 40px 40px 0;
}

.row h2 {
  margin: 0 1rem;
}

.row .main-content {
  margin: 0 1rem;  
}

ul {
  margin: 0 0 2rem 0;
}

ul.icons li {
margin: 10px 0 10px 10px;
border: 1px solid lightgrey;
border-radius: 10px;
background-color: white;
position: relative;
width: 50%;
height: 30%;
overflow: hidden;
box-shadow: 2px 2px 2px lightgrey;
padding: 0.5rem;
}

h3 {
font-size: 1.5rem;
text-decoration-line: underline;
}

/* ul.icons p {
font-style: italic;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0; */
  
.tab-content .content {
  margin: 10px 0 10px 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
  width: 50%;
  height: 30%;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
  padding: 0.5rem;
  }

  .cards-container {
    display: block;
    width: 60%;
    height: 690px;
    overflow: hidden;
  }
  .cards-container .card {
    background-color: transparent;
    margin-top: 20px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .cards-container .card .headline {
    font-size: 25px;
  }
  .cards-container .card img.phone {
    width: 35%;
    height: 610px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px;
  }
  .cards-container div.two-phones {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

.row {
  line-height: 2rem;
  justify-content: center;
}
.row .logo {
  width: 200px;
  padding: 40px 40px 40px 0;
}

.row h3 {
  margin: 0 1rem;
  text-decoration-line: none;
}
.row h2 {
  font-size: 20px;
  margin: 0 1rem;
}

.row p {
  margin: 0 1rem;  
  font-style: italic;
}


h3 {
font-size: 1.5rem;
text-decoration-line: underline;
}


.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: dodgerblue;
}

/*Login*/
.login-container nav {
    font-size: 13px;
}

.loginform .form1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    padding: 20px;
    border: none;
    width: 200px;
    line-height: 1rem;
}

/*Sign Up*/
.signup-form {
    line-height: 2rem;
}

.how-to-header-img {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    text-align: left;
    overflow-x: hidden;
    margin-bottom: 1rem;
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    padding: 20px;
    border: none;
    width: 200px;
    line-height: 1rem;
}

/*Create*/
div.create-container {
    width: 100%;
    overflow-x: hidden;
}

section.create-banner {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    text-align: left;
    overflow-x: hidden;
    height: 100vh;
}
section.create-banner .form {
    padding: 40px 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form label {
    text-align: start;
    margin-top: 0.5rem;
}

.form h2 {
  margin-bottom: 1rem;
}

.logo {
    width: 200px;
    padding: 40px 40px 40px 0;
}

div.create-container img.how-to-img {
    margin: 0 auto;
    width: 50%;
    object-fit: cover;
}



footer {
  height: 60px;
  background-color: #6C72FF;
}

.cards-container {
  display: block;
  width: 60%;
  height: 690px;
  overflow: hidden;
}
.cards-container .card {
  background-color: transparent;
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.cards-container .card .headline {
  font-size: 25px;
}
.cards-container .card img.phone {
  width: 35%;
  height: 610px;
  border-radius: 30px;
  box-shadow: 10px 10px 5px;
}
.cards-container div.two-phones {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/*Media Queries(Tablet)*/
@media (max-width:800px) {
.container {
    width: 100%;
  }
  header nav {
		justify-content: space-around;
    margin-left: 0;
  }
  nav a {
    margin: 20px;
  }
  section.header-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  } 
  section.header-banner div.content-left {
    display: flex;
    flex-direction: column;
  }
  section.header-banner img.how-to-header-img {
    width: 100%;
  }
}

@media (max-width:800px) {
  section.create-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  } 
  section.create-banner .form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  section.create-banner img.how-to-img {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }
  .loginbanner .loginform {
    width: 70%;
  }
  .tab-content .content {
    width: 92%;
  }
}

@media (max-width:800px) {
  .cards-container .card img.phone {
    width: 100%;
    height: 610px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px;
  }
  .cards-container .card .button {
    margin-top: 0.5rem;
  }
  .cards-container .card .button {
    padding: 10px 32px;
  }
}

  

