/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Bitter', serif;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
}
div.container {
  width: 100%;
  overflow-x: hidden;
}
/* Button */
.button {
  background-color: #6C72FF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
a.btn-signup {
  background-color: #FFAE66;
  border: #E6E6E6;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
header {
  height: 60px;
  background-color: #6C72FF;
}
header nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
  margin-left: 50%;
}
header nav a {
  color: #E6E6E6;
  text-decoration: none;
}
header a.btn-login {
  background-color: #E6E6E6;
  border: #E6E6E6;
  color: #6C72FF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
section.header-banner {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  text-align: left;
  overflow-x: hidden;
  height: 100vh;
}
section.header-banner img.logo {
  width: 200px;
  padding: 40px 40px 40px 0;
}
section.header-banner div.content-left {
  margin: 0 auto;
  padding: 40px 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
section.header-banner img.how-to-header-img {
  margin: 0 auto;
  width: 50%;
  object-fit: cover;
}
section.header-banner .explore {
  font-size: 30px;
  color: #6C72FF;
  font-weight: bold;
  text-decoration: none;
}
section#second {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  text-align: right;
  overflow-x: hidden;
  height: 90vh;
  background-image: linear-gradient(to bottom right, #6C72FF, #FFAE66);
<<<<<<< HEAD
=======

}


/*About*/
.row {
    line-height: 2rem;
    justify-content: center;
}
.row .logo {
    width: 200px;
    padding: 40px 40px 40px 0;
}

.row h2 {
    margin: 0 1rem;
}

.row .inner {
    margin: 0 1rem;  
}

ul {
    margin: 0 0 2rem 0;
}


ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}


.fa {
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: dodgerblue;
  }

/*Login*/
.login-container nav {
    font-size: 13px;
}

.loginbanner .loginform {
  margin: 10px 0 10px 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: white;
  position: relative;
  width: 20%;
  height: 30%;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
}
.loginform .form1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    padding: 20px;
    border: none;
    width: 200px;
    line-height: 1rem;
}

.loginform h2 {
  margin-left: 1rem;
  margin-top: 1rem;
}

.loginform .close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.loginform .expandButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 12px;
  color: grey;
  cursor: pointer;
  transform: translate(-50%);
  background-color: white;
}

.loginform-open {
  height: 150px;
}

/*Sign Up*/
.signup-form {
    line-height: 2rem;
}

.how-to-header-img {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    text-align: left;
    overflow-x: hidden;
    margin-bottom: 1rem;
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    padding: 20px;
    border: none;
    width: 200px;
    line-height: 1.5rem;
}

/*Create*/
div.create-container {
    width: 100%;
    overflow-x: hidden;
>>>>>>> e9f7b6c47b23a76ba26fbf17d6774298d64a5bd6
}
/* div.image-left {
		width: 50%;
		background-color: #BABEFC;
	}
	div.content-right {
	margin: 0 auto;
    padding: 40px 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	}


*/
footer {
  height: 60px;
  background-color: #6C72FF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
